<!-- Using AngularJS create a SPA that accept the details of student and display mark sheet 
( roll_ no, student_ name, class, sub1, sub2, sub3, total, percentage, grade)	 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slip13</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>

<body ng-app="mainApp" ng-controller="studentController">
    <h2>Student Marksheet Program</h2>
    <div>
        <form name="form1">
            <table border="1">
                <tr>
                    <td>Enter Roll Number</td>
                    <td></td><input type="number" ng-model="rollno"></td>
                </tr>
                <tr>
                    <td>Enter the Student Name:</td>
                    <td></td><input type="text" name="sname" ng-model="StudName"></td>
                </tr>
                <tr>
                    <td>Enter Class</td>
                    <td></td> <input type="text" name="sclass" ng-model="studName"></td>
                </tr>
                <tr>
                    <td>Enter Subject1 Marks</td>
                    <td></td><input type="number" name="Subject1" ng-model="sub1"></td>
                </tr>
                <tr>
                    <td>Enter Subject2 Marks</td>
                    <td> <input type="number" name="Subject2" ng-model="sub2"></td>
                </tr>
                <tr>
                    <td>Enter Subject3 Marks</td>
                    <td><input type="number" name="Subject3" ng-model="sub3"></td>
                </tr>
                <tr>
                    <td><input type="button" value="Display" ng-click="isShowHide('show')"></td>
                </tr>
            </table>
        </form>
    </div>

    <div ng-show="showval">
        <br><br>
        Mark Sheet of Student<br><br>
        <form name="form2" controller="studentController">
            <table border="2">
                <thead>
                    <td>rollno</td>
                    <td>Name</td>
                    <td>class</td>
                    <td>Subject1</td>
                    <td>Subject2</td>
                    <td>Subject3</td>
                    <td>Total</td>
                    <td>percentage</td>
                    <td>grade</td>
                </thead>
                <tr>
                    <td>{{rollno}}</td>
                    <td>{{StudName}}</td>
                    <td>{{class}}</td>
                    <td>{{sub1}}</td>
                    <td>{{sub2}}</td>
                    <td>{{sub3}}</td>
                    <td>{{sub1+sub2+sub3}}</td>
                    <td>{{((sub1+sub2+sub3)/300)*100;}}</td>
                    <td><input type="text" name="grade" ng-model="grade"></td>
                </tr>
            </table>
        </form>
    </div>

    <script>
        var mainApp = angular.module("mainApp", []);
        mainApp.controller('studentController', function ($scope) {
            $scope.showval = false;
            $scope.isShowHide = function (param) {
                if (param == "show") {
                    $scope.showval = true;
                }
                if ($scope.per = 74 && $scope.per <= 100)
                    $scope.grade = "A";
                else if ($scope.per = 60 && $scope.per < 74)
                    $scope.grade = "First";
                else if ($scope.per >= 45 && $scope.per < 59)
                    $scope.grade = "Second";
                else if ($scope.per >= 35 && $scope.per < 45)
                    $scope.grade = "Pass";
                else
                    $scope.grade = "fail";
            }
        });
    </script>
</body>
</html>