<!-- Write an AngularJS script for addition of two numbers using ng-init,ng-model & ng-bind.
And also Demonstrate ng-show, ng-disabled, ng-click directives on button component -->
<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-app="myApp" ng-controller="myController">
        <h4>using ng-model directive</h4>
        <div ng-app="myApp" ng-controller="myController" ng-init="number1=20;number2=30">
            Number 1:<input type="number"ng-model="number1">
            Number 2:<input type="number"ng-model="number2">
            Result:{{number1+number2}}
        </div>
        <br><br>
        <h4>Using ng-bind directive</h4>
        <div ng-app="myApp" ng-controller="myController">
            Number 1:<input type="number"ng-model="number3" ng-change="add()"/>
            Number 2:<input type="number"ng-model="number4"ng-change="add()"/>
            <b>Addition=:</b><span ng-bind="result1"></span>
        </div>
        <br><br>
        <div ng-app="myApp" ng-init="myButton=true">
            <button ng-disabled="myButton">Click me</button>
            <br/><br/>
            <input type="checkbox" ng-model="myButton"/>Button
            <br/><br/>
            Disabled:{{myButton}}
            <div>
                <div  ng-app="myApp" ng-controller="myController">
                    <input type="button" value="Show Angular"ng-click="showHide()"/>
                    <br><br><div ng-show="IsVisible">Sngular</div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var app=angular.module('myApp',[]);
        app.controller(
            'myController',function($scope){
                $scope.number3 =1;
                $scope.number4=1;
                $scope.add=function(){
                    $scope.result1=($scope.number3+$scope.number4);
                }
                $scope.IsVisible =false;
                $scope.showHide = function(){
                    $scope.IsVisible=true;
                }
            }
        );
    </script>
</html>